<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <!-- PART-1 -->
      <div class="sidebar-footer">
        <div class="container-footer">
          <div class="row">
            <aside class="widget">
              <div class="title-footer">
                <h2>O nás</h2>
              </div>
              <div class="textwidget">
                <p>
                  Zelená Hviezdička funguje už od roku 2011 - vďaka nášmu
                  prístupu a vašej spokojnosti.
                </p>
              </div>
            </aside>
            <aside class="widget">
              <div class="title-footer">
                <h2>Akcie a benefity</h2>
              </div>
              <div class="textwidget">
                <ul>
                  <li>
                    <span class="flaticon-check"></span> Súrodenecká zľava
                  </li>
                  <li>
                    <span class="flaticon-check"></span> Zľava za kamaráta
                  </li>
                  <li>
                    <span class="flaticon-check"></span> Zľava za zazmluvnenie
                    na rok
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <!-- PART-2 -->
      <!-- PART-2 -->
      <div class="site-info">
        <div class="container site-info-container">
          <div class="row site-info-row">
            <div class="info-a">
              <div class="copyright">
                © 2018 Detské centrum - Zelená Hviezdička, všetky práva
                vyhradené
              </div>
            </div>
            <div class="info-b">
              <ul class="social">
                <li>
                  <a
                    href="https://www.facebook.com/zelenahviezdicka/"
                    title="Facebook"
                    target="_blank"
                    rel="noopener"
                  >
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
